GDAL==1.10.1
Mako==0.9.1
MarkupSafe==0.19
SQLAlchemy==0.9.4
alembic==0.6.4
flake8==2.1.0
mccabe==0.2.1
pep8==1.4.6
pyflakes==0.7.3
stevedore==0.14.1
virtualenv==1.11.2
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
