

h1 { 
    font-size: 80px;
    margin: 50px 0;
}

.departure-main {
    background-color: #0A7B83;
    z-index: 10;
    width: 100%;
}

.muni-data {
    z-index: 100;
    position: relative;
    color: white;
}

.logo {
    padding: 40px 0;
}


.app-title {
    display: inline;
}

.app-location {
    display: inline;
    color: #bac1c8;
    float: right;
}

/* ------------------------------------------------------------------------- */

.closest-stop {
    height: 78px;
}

.route {
    padding: 5px 20px;
}

.stop-name {
    font-size: 34px;
    margin-bottom: -5px;
    display: inline;
}

.stop-dist {
    display: inline;
    float: right;
}
.pagination {
    display: inline; 
    padding: 0 40px

}

.pagination > ul {
    background-color: #0A7B83;
}

.pagination ul li {
    vertical-align: text-bottom;
}

.pagination ul li.active > a {
    background-color: white;
    border-color: white;
    border-width: 7px !important;
    color: #0A7B83;
    margin: 10px 35px 0 0;
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 4px;
}

.route-mins {
    display: none;
}

.pagination ul li.active:hover > a .route-mins {
    display: inline;
    font-size: 16px;
}

.pagination ul li.active:hover > a .route-code {
    display: none;
}

.pagination ul li.active:hover > a {
    color: #0A7B83;
    opacity: 1;
}

.pagination ul li.next:hover > a {
    background-color: #0A7B83;
    font-size: 20px;
}

.stop-change-direction {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0 10px 0 5px;
    padding-top: 3px;
    font-size: 18px;
}

.glyphicon  {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    vertical-align: text-top;
}

.stop-route-direction {
    font-size: 20px;
}

/* ------------------------------------------------------------------------- */


.route-departure-time {
    background-color: #0A7B83;
    display: inline-block;
    text-align: center;
    float: right;
    width: 320px;
    z-index: 5;
}

.time {
    margin-bottom: -32px;
}

.time-amount {
    font-size: 200px;
    margin-bottom: -200px;
    position: relative;
    top: -90px;
}

.time-minutes {
    font-size: 55px;
    margin-bottom: 20px;

}

.route-departure-info {
    padding-top: 30px;
    font-size: 30px;
    margin-bottom: -15px;
    opacity: 0.7;
}

.current-route-direction {
    font-size: 22px;
    opacity: 0.7;
}

.other-route-0 {
    background-color: #0A7B83;
    padding: 12px 5px;
}

.other-route-1 {
    background-color: #0A7BAE;
    padding: 12px 5px;
}

.other-route-2 {
    background-color: #0A7BF5;
    padding: 12px 5px;
}

.route-direction {
    display: inline-block;
    text-align: left;
    font-size: 28px;
}

.dim-direction {
    opacity: 0.5;
}

.inbound {
    display: inline-block;
    margin-left: -20px;
    margin-right: -18px;
}

.outbound {
    display: inline-block;
    margin-right: -8px;
}

.route-name {
    display: inline-block;
    font-size: 30px;
    width: 60%;
    text-align: left;
    /*padding-left: 12px;*/
}

.route-name-dir {
    display:none;
}

.route-name:hover .route-name-abbr {
    display: none;
}

.route-name:hover .route-name-dir {
    display: inline;
    transition: opacity 1s linear;
}

.change-direction {
    display: inline-block;
    width: 10%;
    font-size: 30px;
    text-align: right;
}

.other-route-name {
    display: inline-block;
    font-size: 30px;
    width: 80%;
    text-align: left;
    vertical-align: middle;
}

.other-route-time {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.other-time-amount {
    font-size: 20px;
    margin-bottom: -8px;
}

.other-time-minutes {
    font-size: 12px;
}

/* ------------------------------------------------------------------------- */


.departure-sub-1 {
    background-color: #2AA876;
}

.departure-sub-2 {
    background-color: #F19C65;
}

.sub-route {
    font-size: 20px;
    opacity: 0.5;
    display: inline-block;
    text-align: left;
    margin: 8px 20px;
}

.sub-route:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.sub-stop-name {
}

.sub-stop-dist {
    margin-left: 10px;
}



.container, h1 {
    /*font-family: 'Gudea', sans-serif;*/
}

#map-canvas {
    margin-top: 230px;
    height: 480px;
    width: 100%;
    position: absolute; 
    z-index: 0;
}

.container {
    padding: 0;
}

footer {
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 30px;
}


