.container {
    padding: 0;
    position: relative;
}

.geolocation-loading {
    background-color: #E4E4E4;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 474px;
    padding: 110px 30px;
    font-size: 80px;
}

.muni-data {
    z-index: 100;
    position: relative;
    color: white;
}

.muni-stops-data {
    z-index: 10;
    width: 100%;
    position: absolute;
}

.logo {
    padding: 40px 0;
}

.logo > .title {
    display: inline;
    font-size: 80px;
    margin: 50px 0;
}

.logo > .location {
    display: inline;
    color: #bac1c8;
    float: right;
}

/* ------------------------------------------------------------------------- */

.color-0 {
    background-color: #0A7B83;
}

.color-1 {
    background-color: #2AA876;    
}

.color-2 {
    background-color: #F19C65;   
}

.stop-info {
    width: 100%;
    z-index: 10;
    padding: 5px 20px;
}

.stop-info > .address {
    font-size: 34px;
    margin-bottom: -5px;
    display: inline;
}

.stop-info > .distance {
    font-size: 20px;
    display: inline;
    float: right;
    opacity: 0.5;
    padding-top: 4px;
}

.stop-info > .pagination {
    display: inline; 
    padding: 0 40px
}

.stop-info > .pagination > ul.color-0 {
    background-color: #0A7B83;
}

.stop-info > .pagination > ul.color-1 {
    background-color: #2AA876;    
}

.stop-info > .pagination > ul.color-2 {
    background-color: #F19C65;   
}

.stop-info > .pagination ul li {
    vertical-align: text-bottom;
}

.stop-info > .pagination ul li.active > a .index {
    display: none;
}

.stop-info > .pagination ul li.inactive > a .index {
    display: none;
}

.stop-info > .pagination ul li.active:hover > a .route-code {
    display: inline;
}

.stop-info > .pagination ul li.active:hover > a {
    color: #0A7B83;
    opacity: 1;
}

.stop-info > .pagination ul li.next:hover > a {
    background-color: #0A7B83;
    font-size: 20px;
}

.stop-info > .pagination ul li > a {
    background-color: white;
    border-color: white;
    border-width: 7px !important;
    color: #0A7B83;
    margin: 10px 35px 0 0;
    text-align: center;
    font-size: 20px;
    padding: 0 6px;
    border-radius: 4px;
}

.stop-info > .pagination ul li.active > a {
    opacity: 0.5;
}

.stop-info > .pagination ul li.inactive > a {
    opacity: 1;
}

.departure-info .color-0 {
    background-color: #0A7B83;    
}

.departure-info .color-1 {
    background-color: #2AA876;    
}

.departure-info .color-2 {
    background-color: #F19C65;   
}

.departure-info {
    display: inline-block;
    text-align: center;
    float: right;
    width: 320px;
    z-index: 5;
    padding: 0 10px 8px 10px;
}

.departure-info > .time {
    margin-bottom: -32px;
}

.departure-info > .time > .amount {
    font-size: 200px;
    margin-bottom: -200px;
    position: relative;
    top: -90px;
}

.departure-info > .time > .minutes {
    font-size: 55px;
    margin-bottom: 20px;
}

.departure-info > .route {
    padding-top: 25px;
    margin-bottom: 10px;
}
.departure-info > .route > .name {
    font-size: 28px;
    margin-bottom: -12px;
    opacity: 0.7;
}

.departure-info > .route > .destination {
    font-size: 22px;
    opacity: 0.7;
}

.departure-info > .direction {
    padding: 12px 5px;
}

.departure-info > .direction > .arrows {
    display: inline-block;
    text-align: left;
    font-size: 28px;
    float: left;
}

.departure-info > .direction > .arrows > .dim-direction {
    opacity: 0.5;
}

.departure-info > .direction > .arrows > .inbound {
    display: inline-block;
    margin-right: -18px;
}

.departure-info > .direction > .arrows > .outbound {
    display: inline-block;
}

.departure-info > .direction > .arrows > .route-name {
    display: inline-block;
    font-size: 30px;
    text-align: left;
}

.departure-info > .direction > .arrows > .route-name .orientation {
    display: none;
}

.departure-info > .direction > .arrows > .route-name:hover .orientation {
    display: inline;
}

.departure-info > .direction > .arrows > .route-name:hover .abbrivation {
    display: none;
}

.departure-info > .direction > .change {
    display: inline-block;
    font-size: 30px;
    text-align: right;
    float: right;
    margin-right: 6px;
}

.departure-info > .direction > .change > .glyphicon  {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    vertical-align: text-top;
}

/* ------------------------------------------------------------------------- */

.next-stop .color-0 {
    background-color: #0A7B83;
}

.next-stop .color-1 {
    background-color: #2AA876;
}

.next-stop .color-2 {
    background-color: #F19C65;
}

.next-stop {
    width: 100%;
    height: 60px;
    margin-top: -8px;
}

.next-stop-1 {
    background-color: #2AA876;
    width: 100%;
    height: 60px;
    margin-top: -8px;
}

.next-stop-2 {
    background-color: #F19C65;
    width: 100%;
    height: 60px;
    margin-top: -8px;
}

.next-stop-info {
    font-size: 20px;
    opacity: 0.5;
    margin: 8px 20px;
    padding-top: 14px;
}

.next-stop-info > .address > .index {
    display: none;
}

.next-stop-info > .address {
    display: inline-block;
    float: left;
}

.next-stop-info:hover {
    opacity: .8;
}

.next-stop-info > .distance {
    display: none;
}

.next-stop-info:hover > .distance {
    display: inline-block;
    float: right;
    padding-right: 10px;
    margin-left: 10px;
    opacity: 0.5;
}

/* ------------------------------------------------------------------------- */

#map-canvas {
    margin-top: 60px;
    height: 430px;
    width: 80%;
    position: absolute; 
    float: left;
    z-index: 0;
}

footer {
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47px;
    z-index: 5;
    font-size: 18px;
    padding-top: 11px;
    padding-left: 20px;
    margin-bottom: -521px;
}