

h1 { 
    font-size: 80px;
    margin: 50px 0;
}

.departure-main {
    background-color: #0A7B83;
    z-index: 10;
}

.muni-data {
    z-index: 100;
    position: relative;
    color: white;
}
/* ------------------------------------------------------------------------- */

.route {
    display: inline-block;
    text-align: left;
    width: 60%;
    margin: 10px 20px;
}

.stop-name {
    font-size: 34px;
    margin-bottom: -5px
}

.stop-change-direction {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 0 10px 0 5px;
    padding-top: 3px;
    font-size: 18px;
}

.glyphicon  {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.stop-route-direction {
    font-size: 20px;
}

/* ------------------------------------------------------------------------- */


.route-departure-time {
    background-color: #0A7B83;
    display: inline-block;
    text-align: center;
    float: right;
    width: 300px;
}

.time {
    margin-top: 20px;
    margin-bottom: -20px;
}

.time-amount {
    font-size: 190px;
    margin-bottom: -75px;
}

.time-minutes {
    font-size: 55px;
    margin-bottom: 20px;
}

.current-route-direction {
    font-size: 24px;
    margin-bottom: 40px
}

.other-route-0 {
    background-color: #0A7B83;
    padding: 12px 5px;
}

.other-route-1 {
    background-color: #0A7BAE;
    padding: 12px 5px;
}

.other-route-2 {
    background-color: #0A7BF5;
    padding: 12px 5px;
}

.route-name {
    display: inline-block;
    font-size: 30px;
    width: 80%;
    text-align: left;
    /*padding-left: 12px;*/
}

.change-direction {
    display: inline-block;
    width: 10%;
    font-size: 30px;
    text-align: center;
}

.other-route-name {
    display: inline-block;
    font-size: 30px;
    width: 80%;
    text-align: left;
    vertical-align: middle;
}

.other-route-time {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
}

.other-time-amount {
    font-size: 20px;
    margin-bottom: -8px;
}

.other-time-minutes {
    font-size: 12px;
}

/* ------------------------------------------------------------------------- */


.departure-sub-1 {
    background-color: #2AA876;
}

.departure-sub-2 {
    background-color: #F19C65;
}

.sub-stop-name {
    font-size: 25px;
    opacity: 0.5;
}

.sub-stop-name:hover {
    font-size: 25px;
    opacity: 1;
    transition: opacity 0.5s linear;
}


.container, h1 {
    font-family: 'Gudea', sans-serif;
}

#map-canvas {
    margin-top: 200px;
    height: 500px;
    width: 100%;
    position: absolute; 
    z-index: 0;
}

.container {
    padding: 0;
}

footer {
    text-align: center;
}


