{% extends 'master.html' %}
{% block body %}
    <p>
        hello
    </p>

    {% if display is defined %}
        <!-- <p>test</p> -->
        <!-- <p>{{ stop }}</p> -->
        <!-- {% for stop in stops %}
            <li>stop.address</li>
        {% endfor %} -->
        <span id="dt">test</span>
    {% endif %}


    <script type="text/javascript">
        function success(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;

            $.getJSON(
                "getTimes.json",
                {lat: latitude, lng: longitude}, 
                function(json) {
                    console.log(json.code);
                } 
            )
            // $.ajax({
            //     url: "getTimes.json?lat=" + latitude + "&lng=" + longitude
            // })
            console.log(latitude);
            console.log(longitude);
        }

        function error(msg) {
            console.log(msg)
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            error("NOT WORKING!");
        }
    </script>

    <script type="text/javascript">
        {% if display is defined %}
            var dt = document.querySelector("#dt");
            dt.innerHTML = {{ stop }}
        {% endif %}


    </script>

{% endblock %}
