{% extends 'master.html' %}
{% block body %}
<div class="muni-data"> 
  <div id="active-stop"></div>
  <div id="map-canvas"/>
</div>

<!-- nearets MUNI stop -->
<script type="text/html" id='active-stop-tmpl'>
<div class="muni-stops-data">
  <div class="color-<%= stop.index%3 %>">
    <div class="stop-info">
    <div class="address"><%= stop.name %></div>
    <div class="pagination">
      <ul class="color-<%= stop.index%3 %>">
      <% _.each(stop.routes, function(route) { %>
        <% if(route.index == i) { %>
        <li class="inactive">
        <% } else { %>
        <li class="active">
        <% } %>
        <a href="#<%= route.code %>">
          <span class="index"><%= route.index %></span>
          <span class="route-code"><%= route.code %></span>
        </a>
        </li>
      <% }); %>
      </ul>
    </div>
    <div class="distance"><%= stop.distance %> mi</div>
  </div>

  <div class="departure-info color-<%= stop.index%3 %>">
    <div class="time">
      <div class="amount"><%= stop.routes[i].departures[j].times[0] %></div>
      <div class="minutes">
      <% if (stop.routes[i].departures[j].times[0] == '1') { %> 
        minute
      <% } else { %>
        minutes
      <% } %>
      </div>
    </div>
    <div class="route">
      <div class="name"><%= stop.routes[i].line %></div>
      <div class="destination"><%= stop.routes[i].departures[j].destination %></div>
    </div>
    <div class="direction">
      <div class="arrows">
        <% if (stop.routes[i].departures[j].direction == "inbound") { %>
        <span class="fui-arrow-right inbound"></span>
        <span class="fui-arrow-right outbound dim-direction"></span>
        <% } else { %>
        <span class="fui-arrow-right inbound dim-direction"></span>
        <span class="fui-arrow-right outbound"></span>
        <% } %>
        <div class="route-name">
          <span class="abbrivation"><%= stop.routes[i].code %></span>
          <span class="orientation"><%= stop.routes[i].departures[j].direction %></span>
        </div>
      </div>
      <% if (stop.routes[i].departures.length > 1) { %>
      <div class="change"><span class="glyphicon glyphicon-sort"></span></div>
      <% } %>
    </div>
  </div>

  <% _.each(otherStops, function(other) { %>
  <% if (typeof(other) != "undefined") { %>
  <div class="next-stop color-<%= other.attributes.index % 3 %>">
    <div class="next-stop-info">
      <div class="address"><div class="index"><%= other.attributes.index %></div><%= other.attributes.name %></div>
      <div class="routes"></div>
      <div class="distance"><%= other.attributes.distance %> mi</div>
    </div>
  </div>
  <% } %> 
  <% }) %>
</div>
</script>

<script type="text/javascript" src="./static/js/muni.js"></script>

{% endblock %}
