{% extends 'master.html' %}
{% block body %}
<div class="muni-data"> 

  <div class="departure-main">
    <div class="route">
      <div class="stop-name">Church &amp; 27th</div>
     <!--  <div class="stop-change-direction">
        <span class="glyphicon glyphicon-sort"></span>
      </div>
      <div class="stop-route-direction">Inbound to Downtown</div> -->
    </div>
      
    <div class="route-departure-time">
      <div class="current-route">

        <div class="time">
          <div class="time-amount">18</div>
          <div class="time-minutes">minutes</div>
        </div>

        <div class="current-route-direction">inbound to downtown</div>

        <div class="other-route-0">
          <div class="route-name">J-Church</div>
          <div class="change-direction">
            <span class="glyphicon glyphicon-sort"></span>
          </div>
        </div>
      </div>
        
      <!-- <div class="other-route-1">
        <div class="other-route-name">2-Clement</div>
        <div class="other-route-time">
          <div class="other-time-amount">13 </div>
          <div class="other-time-minutes">mins</div>
        </div>
      </div>

      <div class="other-route-2">
        <div class="other-route-name">3-Jackson</div>
        <div class="other-route-time">
          <div class="other-time-amount">9 </div>
          <div class="other-time-minutes">mins</div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="departure-sub-1">
    <div class="route">
      <div class="sub-stop-name">Church &amp; 29th (0.1 m)</div>
    </div>
  </div>  
  
  <div class="departure-sub-2">
    <div class="route">
      <div class="sub-stop-name">Church &amp; 24th (0.3 m)</div>
    </div>
  </div>
  
</div>
<div id="map-canvas"/>
<div>

<
  
</div>

<!-- <div id="map-canvas"/> -->

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(37.76, -122.44),
      zoom: 18
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript" src="./static/js/departures.js"></script>
{% endblock %}
