<!DOCTYPE html>
<html>
  <head>
    <title>SF MUNI</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Bootstrap and custom CSS files and Flat UI -->
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="./static/css/main.css">

    <!-- jQuery, Bootstrap, Backbone JS files -->
    <script type="text/javascript" src="./static/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/underscore.min.js"></script>
    <script type="text/javascript" src="./static/js/backbone.min.js"></script>
    <script type="text/javascript" src="./static/js/bootstrap.min.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ token }}&sensor=true">
    </script>
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <h1 class="title">FIND MUNI</h1>
        <h2 class="location">san francisco</h2>        
      </div>

      <!-- Content -->
      {% block body %}
      {% endblock %}

      <footer>
        <span class="fui-heart"></span> 2014 made with love by <a href="https://twitter.com/ingridavendano">@ingridavendano</a>
      </footer>
    </div>
  </body>
</html>
