<!DOCTYPE html>
<html>
  <head>
    <title>San Francisco MUNI Departures</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Bootstrap and custom CSS files and Flat UI -->
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="./static/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="./static/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="./static/css/map.css">
    <link rel="stylesheet" type="text/css" href="./static/css/main.css">


    <!-- jQuery, Bootstrap, Backbone JS files -->
    <script type="text/javascript" src="./static/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/underscore.min.js"></script>
    <script type="text/javascript" src="./static/js/backbone.min.js"></script>
    <script type="text/javascript" src="./static/js/bootstrap.min.js"></script>

    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ token }}&sensor=true">
    </script>
  </head>
  <body>
    <!-- Content -->
    <div class="container" id="">
      <h1 class="title">FIND NEXT MUNI?</h1>
      {% block body %}
      {% endblock %}
      <footer>
      &copy; Ingrid Avenda&ntilde;o 2014
      </footer>
    </div>
  </body>
</html>